<html ng-app="game">
	<head>
		<script src="angular.min.js"></script>
		<script src="socket.js"></script>
		<script src="app.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
		
	</head>
	<body ng-controller="gameController" ng-click="bodyClick()">
		<div class="control">	
		<div class="scoreBox" ng-bind="player.score"></div>
		<div class="wordBox" ng-repeat="word in words" ng-style="wordStyle(word)">
			<span class="typed" ng-bind="word.typed"></span><span class="remaining" ng-bind="word.remaining"></span>
		</div>
		</div>
		<input id="inputBox" autofocus type="text" ng-keypress="keyPressed($event)">
	</body>
</html>
